body {
  font-family: Open Sans;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.6rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #0087ab !important;
}
.bg-success {
  background-color: #344cf1 !important;
}
.bg-info {
  background-color: #48d678 !important;
}
.bg-warning {
  background-color: #d63d3d !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #0087ab !important;
  border-color: #0087ab !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #004b5e !important;
  border-color: #004b5e !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000101 !important;
  border-color: #000101 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0e26cb !important;
  border-color: #0e26cb !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #003645;
  color: #003645;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #0087ab;
  border-color: #0087ab;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0087ab !important;
  border-color: #0087ab !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #0a1c44;
  border-color: #0a1c44;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #0c21b3;
  color: #0c21b3;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #344cf1;
  border-color: #344cf1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #344cf1 !important;
  border-color: #344cf1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8f1e1e;
  color: #8f1e1e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #d63d3d;
  border-color: #d63d3d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0087ab !important;
}
.text-secondary {
  color: #0a1c44 !important;
}
.text-success {
  color: #344cf1 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #003645 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0c21b3 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0087ab;
  border-color: #0087ab;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0087ab;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #2bd2ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f3f4fe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #0087ab;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #0087ab !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0087ab;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0087ab;
  border-bottom-color: #0087ab;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0087ab !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0a1c44 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230087ab' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rzH9jrlpnt .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-rzH9jrlpnt .navbar-fixed-top {
  padding-top: 0;
}
.cid-rzH9jrlpnt .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rzH9jrlpnt .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rzH9jrlpnt .menu-content-top {
  background: #48d678;
  max-width: 100%;
  display: none;
  -webkit-justify-content: left;
  justify-content: left;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-rzH9jrlpnt .dropdown-item {
  padding: 0;
}
.cid-rzH9jrlpnt .dropdown-item,
.cid-rzH9jrlpnt .nav-link,
.cid-rzH9jrlpnt .brand-name {
  font-style: normal;
}
.cid-rzH9jrlpnt .dropdown-item:hover,
.cid-rzH9jrlpnt .nav-link:hover,
.cid-rzH9jrlpnt .brand-name:hover {
  color: #0087ab !important;
}
.cid-rzH9jrlpnt .dropdown-menu {
  background-color: #0a1c44;
}
.cid-rzH9jrlpnt .dropdown-item:active {
  background-color: #0a1c44;
}
.cid-rzH9jrlpnt .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 2rem;
  position: relative;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzH9jrlpnt .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rzH9jrlpnt .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rzH9jrlpnt .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-rzH9jrlpnt .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzH9jrlpnt .content-text {
  margin-bottom: 0;
}
.cid-rzH9jrlpnt .navbar-nav {
  position: relative;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rzH9jrlpnt .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #0087ab;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rzH9jrlpnt .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rzH9jrlpnt .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rzH9jrlpnt .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rzH9jrlpnt .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzH9jrlpnt .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rzH9jrlpnt .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rzH9jrlpnt .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzH9jrlpnt .nav-dropdown .link {
  font-weight: 400;
}
.cid-rzH9jrlpnt .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rzH9jrlpnt .content-right-side {
  text-align: center;
}
.cid-rzH9jrlpnt .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rzH9jrlpnt .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rzH9jrlpnt .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rzH9jrlpnt .info-widget {
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzH9jrlpnt .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzH9jrlpnt .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rzH9jrlpnt .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rzH9jrlpnt .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rzH9jrlpnt .widget-content .widget-title {
  font-weight: 400;
  margin-bottom: 3px;
}
.cid-rzH9jrlpnt .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-rzH9jrlpnt .navbar .menu-content-top {
    display: flex;
    height: 60px;
  }
  .cid-rzH9jrlpnt .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzH9jrlpnt .menu-content-top {
    border-bottom: 0px solid #e0e0e0;
  }
  .cid-rzH9jrlpnt .navbar {
    display: block;
    padding: 0;
  }
  .cid-rzH9jrlpnt .navbar .menu-logo {
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rzH9jrlpnt .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rzH9jrlpnt .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-rzH9jrlpnt .navbar-toggler {
    display: none;
  }
  .cid-rzH9jrlpnt .navbar-collapse {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rzH9jrlpnt .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-rzH9jrlpnt .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rzH9jrlpnt .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rzH9jrlpnt .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rzH9jrlpnt .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rzH9jrlpnt .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzH9jrlpnt .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rzH9jrlpnt .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rzH9jrlpnt .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzH9jrlpnt .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rzH9jrlpnt .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-rzH9jrlpnt .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rzH9jrlpnt .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rzH9jrlpnt .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rzH9jrlpnt .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rzH9jrlpnt button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
}
.cid-rzH9jrlpnt button.navbar-toggler:focus {
  outline: none;
}
.cid-rzH9jrlpnt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0a1c44;
}
.cid-rzH9jrlpnt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-rzH9jrlpnt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rzH9jrlpnt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rzH9jrlpnt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-rzH9jrlpnt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rzH9jrlpnt nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-rzH9jrlpnt nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-rzH9jrlpnt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rzH9jrlpnt .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rzH9jrlpnt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rzH9jrlpnt .collapsed .btn {
  display: flex;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse.collapsing,
.cid-rzH9jrlpnt .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rzH9jrlpnt .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rzH9jrlpnt .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rzH9jrlpnt .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rzH9jrlpnt .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rzH9jrlpnt .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rzH9jrlpnt .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rzH9jrlpnt .collapsed button.navbar-toggler {
  display: block;
}
.cid-rzH9jrlpnt .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-rzH9jrlpnt .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rzH9jrlpnt .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-rzH9jrlpnt .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rzH9jrlpnt .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rzH9jrlpnt .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-rzH9jrlpnt .collapsed .menu-bottom {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 991px) {
  .cid-rzH9jrlpnt .dropdown-item {
    color: white !important;
    border-bottom: 0px solid #4f5b77;
  }
  .cid-rzH9jrlpnt .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #4f5b77;
  }
}
@media (max-width: 991px) {
  .cid-rzH9jrlpnt .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
  }
  .cid-rzH9jrlpnt .menu-bottom {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-rzH9jrlpnt .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rzH9jrlpnt .navbar-collapse.collapsing,
  .cid-rzH9jrlpnt .navbar-collapse.show {
    display: block !important;
  }
  .cid-rzH9jrlpnt .navbar-collapse.collapsing .navbar-nav,
  .cid-rzH9jrlpnt .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rzH9jrlpnt .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rzH9jrlpnt .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rzH9jrlpnt .navbar-collapse.collapsing .navbar-buttons,
  .cid-rzH9jrlpnt .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-rzH9jrlpnt .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rzH9jrlpnt .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rzH9jrlpnt img {
    height: 3.8rem !important;
  }
  .cid-rzH9jrlpnt .btn {
    display: flex;
  }
  .cid-rzH9jrlpnt button.navbar-toggler {
    display: block;
  }
  .cid-rzH9jrlpnt .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-rzH9jrlpnt .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzH9jrlpnt .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-rzH9jrlpnt .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rzH9jrlpnt .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rzH9jrlpnt .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-rzH9jrlpnt .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rzH9jrlpnt .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-rzH9jrlpnt .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rzH9jrlpnt .nav-link:focus {
  outline: none;
}
.cid-rzH9jrlpnt .navbar-toggler {
  position: relative;
}
.cid-rzH9jrlpnt .dropdown-item.active,
.cid-rzH9jrlpnt .dropdown-item:active {
  color: initial;
}
.cid-rzH9jrlpnt .widget-title,
.cid-rzH9jrlpnt .widget-icon {
  color: #e9e9e9;
}
.cid-rzH9jrlpnt .widget-text {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-rzH9jrlpnt .menu-logo {
    display: none;
  }
  .cid-rzH9jrlpnt .navbar {
    padding: 0;
  }
  .cid-rzH9jrlpnt .menu-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rzH9jrlpnt button.navbar-toggler {
    -webkit-align-self: center;
    align-self: center;
  }
}
.cid-rzH9jLUC8G {
  background-image: url("../../../assets/images/hero-place-1.svg");
}
.cid-rzH9jLUC8G .mbr-section-title {
  color: #000000;
}
.cid-rzH9jLUC8G .mbr-text,
.cid-rzH9jLUC8G .mbr-section-btn {
  color: #000000;
}
.cid-te3F4Q6AUC {
  padding-top: 90px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-te3F4Q6AUC .main-content .mbr-section-subtitle {
  color: #0a1c44;
  margin-bottom: 10px;
}
.cid-te3F4Q6AUC .main-content .mbr-section-title {
  margin-bottom: 20px;
  color: #0087ab;
}
.cid-te3F4Q6AUC .main-content .mbr-text {
  color: #48d678;
}
.cid-te3F4Q6AUC .categories {
  background-color: #eeeff2;
  padding: 35px 30px 40px;
}
.cid-te3F4Q6AUC .categories .mbr-section-subtitle {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.cid-te3F4Q6AUC .categories .mbr-section-subtitle::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: #279e64;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cid-te3F4Q6AUC .categories .mbr-section-subtitle::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #279e64;
  position: absolute;
  left: 30px;
  bottom: 0;
}
.cid-te3F4Q6AUC .categories .nav {
  border: none;
  width: 100%;
}
.cid-te3F4Q6AUC .categories .nav .nav-item {
  margin-bottom: 15px;
  width: 100%;
}
.cid-te3F4Q6AUC .categories .nav .nav-item:hover .nav-link {
  color: #ffffff !important;
  background: #279e64 !important;
}
.cid-te3F4Q6AUC .categories .nav .nav-item .nav-link {
  display: block;
  color: #13287d;
  box-sizing: border-box;
  font-style: normal;
  background: #ffffff;
  padding: 19px 20px;
  border: 1px solid #efefef;
  margin: 0px;
  border-radius: 3px !important;
  transition: all .3s linear 0ms;
  font-weight: 500;
}
.cid-te3F4Q6AUC .categories .nav .nav-item .nav-link:hover {
  background-color: #ffffff;
  color: #000000;
}
.cid-te3F4Q6AUC .categories .nav .nav-item .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
  background: #ffffff;
}
.cid-te3F4Q6AUC .categories .nav .nav-item .nav-link .count {
  float: right;
}
@media (max-width: 768px) {
  .cid-te3F4Q6AUC .nav-item {
    display: table-row !important;
  }
  .cid-te3F4Q6AUC .categories {
    margin-bottom: 20px;
  }
  .cid-te3F4Q6AUC .categories .mbr-section-subtitle {
    text-align: left;
  }
  .cid-te3F4Q6AUC .meta::before {
    display: none !important;
  }
  .cid-te3F4Q6AUC .meta .item-comment::after {
    display: none !important;
  }
  .cid-te3F4Q6AUC .link {
    justify-content: center !important;
  }
}
.cid-te3F4Q6AUC .card-wrapper {
  height: 100%;
  margin-bottom: 15px;
}
.cid-te3F4Q6AUC .card-wrapper .img-wrap {
  margin-bottom: 30px;
}
.cid-te3F4Q6AUC .card-wrapper .img-wrap img {
  width: 100%;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .card-title {
  color: #0087ab;
  transition: 0.3s all;
  margin-bottom: 20px;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .card-title:hover {
  color: #0087ab;
  transition: 0.3s all;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  color: #999999;
  position: relative;
  margin-bottom: 33px;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: #279e64;
  position: absolute;
  left: 0;
  bottom: -25px;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item {
  transition: all 0.3s ease-in;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item:hover {
  color: #279e64 !important;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .mbr-iconfont {
  color: #48d678;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 400;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-category .category {
  color: #0087ab;
  font-weight: 500;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-category:hover .mbr-iconfont {
  color: #279e64 !important;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-date .date {
  color: #48d678;
  font-weight: 500;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-date:before {
  content: "-";
  margin-left: 5px;
  margin-right: 3px;
  color: #48d678;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-date::after {
  content: "-";
  margin-left: 5px;
  margin-right: 3px;
  color: #48d678;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-date:hover .mbr-iconfont {
  color: #279e64 !important;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-comment .comment {
  color: #48d678;
  font-weight: 500;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-comment:hover .mbr-iconfont {
  color: #279e64 !important;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-comment:after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #279e64;
  position: absolute;
  left: 30px;
  bottom: -25px;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .card-subtitle {
  color: #0087ab;
  margin-bottom: 13px;
  font-weight: 500;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-text {
  margin-bottom: 24px;
  color: #48d678;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-section-btn {
  position: relative;
  margin-left: 1px;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-section-btn .link {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-section-btn .mbr-iconfont {
  font-size: 16px;
  margin-left: 40px;
  position: relative;
  top: 1px;
  display: inline-flex;
  width: 46px;
  height: 46px;
  background: 0 0;
  color: #13287d;
  align-items: center;
  justify-content: center;
  transition: all .3s linear 0s;
  order: 2;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-section-btn .mbr-iconfont::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #279e64;
  transform: scale(0);
  transition: all .3s linear 0s;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-section-btn .mbr-iconfont::before {
  position: relative;
  z-index: 1;
}
.cid-te3F4Q6AUC .card-wrapper .card-box:hover .mbr-section-btn .mbr-iconfont::before {
  color: #ffffff;
}
.cid-te3F4Q6AUC .card-wrapper .card-box:hover .mbr-section-btn .mbr-iconfont::after {
  transform: scale(1);
  box-shadow: 0 10px 30px 0 #279e64;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-category .category,
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  text-align: left;
  color: #000000;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .mbr-text,
.cid-te3F4Q6AUC .mbr-section-btn {
  color: #000000;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .card-title,
.cid-te3F4Q6AUC .mbr-section-btn,
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  color: #000000;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-category .item,
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  color: #000000;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-date .date,
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  color: #000000;
}
.cid-te3F4Q6AUC .card-wrapper .card-box .meta .item-comment .comment,
.cid-te3F4Q6AUC .card-wrapper .card-box .meta {
  color: #000000;
}
.cid-te3Yq1R0u3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/fact.svg");
}
.cid-te3Yq1R0u3 h3 {
  text-align: center;
}
.cid-te3Yq1R0u3 .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-te3Yq1R0u3 .mbr-content-text {
  color: #767676;
}
.cid-te3Yq1R0u3 .card {
  word-wrap: break-word;
}
.cid-te3Yq1R0u3 .mbr-iconfont {
  color: #ffffff !important;
  font-size: 3.5rem !important;
}
.cid-te3Yq1R0u3 H3 {
  color: #ffffff;
}
.cid-rzH9Aqjs3b {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
.cid-rzH9Aqjs3b img {
  width: 100%;
}
.cid-rzH9Aqjs3b p {
  line-height: 1.6;
}
.cid-rzH9Aqjs3b .content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rzH9Aqjs3b .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-rzH9Aqjs3b .mbr-text,
.cid-rzH9Aqjs3b .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-rzH9Aqjs3b .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-rzH9Aqjs3b .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.cid-rzH9Aqjs3b .mbr-section-title .line-wrap {
  text-align: center;
}
.cid-rzH9Aqjs3b .mbr-section-title,
.cid-rzH9Aqjs3b .line-wrap {
  text-align: left;
}
@media (max-width: 992px) {
  .cid-rzH9Aqjs3b .mbr-section-btn {
    margin-bottom: 3rem;
  }
}
.cid-te41mAeGMu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-te41mAeGMu .row {
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-te41mAeGMu .row .row {
    flex-direction: column-reverse;
  }
  .cid-te41mAeGMu .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-te41mAeGMu .text-wrapper {
  width: 70%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-te41mAeGMu .card1-subtitle {
  width: fit-content;
  border-radius: 16px;
  padding: 0 1rem;
  color: #000000;
  text-align: left;
}
.cid-te41mAeGMu .col-lg-4 {
  height: auto;
}
@media (max-width: 992px) {
  .cid-te41mAeGMu .col-12 {
    margin-bottom: 2rem;
  }
}
.cid-te41mAeGMu .card-wrapper {
  position: relative;
  height: 100%;
  z-index: 2;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-te41mAeGMu .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-te41mAeGMu .card-wrapper:hover img {
  transform: scale(1.1);
}
.cid-te41mAeGMu .card-wrapper .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.cid-te41mAeGMu .img-wrapper img {
  transition: all 0.6s;
  height: 100%;
  object-fit: cover;
}
.cid-te41mAeGMu .card-subtitle {
  color: #ffffff;
}
.cid-te41mAeGMu .mbr-text {
  color: #555555;
}
.cid-te41mAeGMu .card2-title {
  color: #000000;
}
.cid-te41mAeGMu .card1-title {
  color: #000000;
}
.cid-te41mAeGMu .card2-subtitle {
  color: #000000;
}
.cid-te41mAeGMu .card3-subtitle {
  color: #ffffff;
}
.cid-te41mAeGMu .card3-title {
  color: #ffc800;
}
.cid-te41mAeGMu .card3-price {
  color: #bbbbbb;
  text-decoration: line-through;
}
.cid-te43krLfdx {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-te43krLfdx .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-te43krLfdx img {
  width: 100%;
}
.cid-te43krLfdx p {
  line-height: 1.6;
}
.cid-te43krLfdx .content {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-te43krLfdx .mbr-section-title {
  text-align: left;
  color: #000000;
}
.cid-te43krLfdx .mbr-text,
.cid-te43krLfdx .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-te43krLfdx .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-te43krLfdx .line {
  display: inline-block;
  width: 80px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.cid-te43krLfdx .mbr-section-title .line-wrap {
  text-align: center;
}
.cid-te43krLfdx .mbr-section-title,
.cid-te43krLfdx .line-wrap {
  text-align: left;
}
@media (max-width: 992px) {
  .cid-te43krLfdx .mbr-section-btn {
    margin-bottom: 3rem;
  }
}
.cid-te48t1Dl8T {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-te48t1Dl8T .item-wrapper {
  position: relative;
}
.cid-te48t1Dl8T .slide-content {
  position: relative;
  background: transparent;
  height: 100%;
  display: flex;
  overflow: visible;
  flex-flow: column nowrap;
}
.cid-te48t1Dl8T .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 18%;
  max-width: 596px;
}
.cid-te48t1Dl8T .embla__button--next,
.cid-te48t1Dl8T .embla__button--prev {
  display: flex;
}
.cid-te48t1Dl8T .embla__button {
  transition: background-color 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  border: none;
  width: 64px;
  height: 64px;
  font-size: 14px;
  border-radius: 50%;
  top: 50%;
  margin-top: -1.5rem;
  background-color: transparent;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-te48t1Dl8T .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-te48t1Dl8T .embla__button.embla__button--prev {
  left: 0;
  margin-left: -4rem;
}
.cid-te48t1Dl8T .embla__button.embla__button--next {
  right: 0;
  margin-right: -4rem;
}
.cid-te48t1Dl8T .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-te48t1Dl8T .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-te48t1Dl8T .embla {
  position: relative;
  width: 90%;
  margin: auto;
}
.cid-te48t1Dl8T .embla__viewport {
  overflow: visible;
  width: 100%;
}
.cid-te48t1Dl8T .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-te48t1Dl8T .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-te48t1Dl8T .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-te48t1Dl8T .wrap-img {
  transition: all 300ms ease !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.cid-te48t1Dl8T img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cid-te48t1Dl8T .container {
  max-width: 1100px;
}
.cid-te48t1Dl8T .embla__viewport.container {
  overflow: hidden;
}
@media (max-width: 576px) {
  .cid-te48t1Dl8T .embla {
    width: 70%;
  }
  .cid-te48t1Dl8T .embla__slide {
    min-width: 150%;
  }
}
.cid-te44NeZKwH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #181818;
}
.cid-te44NeZKwH .list {
  list-style: none;
  padding-left: 0;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 991px) {
  .cid-te44NeZKwH .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-te44NeZKwH .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 576px) {
  .cid-te44NeZKwH .list {
    margin-bottom: 30px;
  }
}
.cid-te44NeZKwH .item-wrap {
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .cid-te44NeZKwH .item-wrap {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .cid-te44NeZKwH div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-te44NeZKwH .copyright {
  color: #ffffff;
}
.cid-te44NeZKwH .mbr-section-subtitle {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-te44NeZKwH .mbr-section-subtitle {
    margin-bottom: 10px;
  }
}
.cid-te44NeZKwH .footer {
  padding-top: 66px;
  padding-bottom: 50px;
  border-top: 1px solid #868c90;
  border-bottom: 1px solid #868c90;
}
@media (max-width: 768px) {
  .cid-te44NeZKwH .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .cid-te44NeZKwH .footer {
    text-align: center !important;
  }
}
@media (max-width: 576px) {
  .cid-te44NeZKwH .footer-logo {
    margin: 0 auto;
  }
}
.cid-te5FbVRIMG {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-te5FbVRIMG img {
  transition: all 0.3s;
}
.cid-te5FbVRIMG img:hover {
  transform: scale(1.1);
}
.cid-te5FbVRIMG img,
.cid-te5FbVRIMG .item-img {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1rem;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-te5FbVRIMG .item:focus,
.cid-te5FbVRIMG span:focus {
  outline: none;
}
.cid-te5FbVRIMG .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-te5FbVRIMG .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-te5FbVRIMG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-te5FbVRIMG .mbr-section-title {
  color: #000000;
}
.cid-te5FbVRIMG .item-title {
  color: #5b6c8f;
}
.cid-te5FbVRIMG .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-te8Qw2poVq {
  padding-top: 105px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-te8Qw2poVq .mbr-section-subtitle {
  color: #0a1c44;
}
.cid-te8Qw2poVq .mbr-section-title {
  color: #000000;
}
.cid-te8Qw2poVq img {
  width: 100%;
}
.cid-te8Qw2poVq .mbr-text {
  color: #000000;
}
.cid-te8Qw2poVq .product-review-box {
  display: inline-block;
  margin: 0 0 8px;
}
.cid-te8Qw2poVq .rating {
  width: 95px;
  height: 14px;
  background: url(../images/rating1.png) repeat-x;
}
.cid-te8Qw2poVq .mbr-section-btn {
  margin-top: 40px;
}
.cid-te8Qw2poVq .mbr-section-btn .btn {
  margin-left: 0 !important;
}
@media (max-width: 768px) {
  .cid-te8Qw2poVq * {
    text-align: left;
  }
}
.cid-te8Qw2poVq .cards-wrap {
  flex-direction: column;
}
.cid-te8Qw2poVq .wrapper {
  border-radius: 0.25rem;
  margin-bottom: 26px;
  display: flex;
}
.cid-te8Qw2poVq .wrapper .img {
  margin-bottom: 20px;
  margin-right: 25px;
  background-color: #279e64;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cid-te8Qw2poVq .wrapper .img:hover {
  -webkit-animation-name: animation-wobble-vertical;
  animation-name: animation-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.cid-te8Qw2poVq .wrapper .img .mbr-iconfont {
  font-size: 1.875rem;
  top: 0;
  color: #ffffff;
  border-radius: 50%;
}
.cid-te8Qw2poVq .wrapper .content .mbr-card-title {
  color: #0087ab;
  margin-bottom: 10px;
}
.cid-te8Qw2poVq .wrapper .content .mbr-text {
  margin-bottom: 19px;
  color: #48d678;
}
.cid-te8Qw2poVq .widget-container {
  margin: 0 0 30px;
}
.cid-te8Qw2poVq .widget-container .project-info {
  padding: 15px 30px 13px;
  background-color: #eeeff2;
  border-radius: 3px;
}
.cid-te8Qw2poVq .widget-container .project-info .info-item {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 0;
  border-bottom: 1px solid #dcdfe2;
}
.cid-te8Qw2poVq .widget-container .project-info .info-item .label {
  font-weight: 500;
  margin-right: 10px;
  flex: none;
  margin-bottom: 0;
}
.cid-te8Qw2poVq .widget-container .project-info .info-item .info-text {
  margin-bottom: 0;
}
.cid-te8Qw2poVq .widget-container .project-info .info-item:last-child {
  border-bottom: none;
}
.cid-te8Qw2poVq .newsletter {
  padding: 35px 30px 40px;
  border-radius: 3px;
  display: block;
}
.cid-te8Qw2poVq .newsletter .mbr-section-subtitle {
  position: relative;
  margin-bottom: 25px;
  color: #0087ab;
}
.cid-te8Qw2poVq .newsletter .form-group,
.cid-te8Qw2poVq .newsletter .mbr-section-btn {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
}
.cid-te8Qw2poVq .newsletter textarea {
  height: 110px !important;
}
.cid-te8Qw2poVq .newsletter .form-control {
  font-size: 14px;
  background: #ffffff;
  color: #83868c;
  display: block;
  height: 60px;
  border-radius: 3px;
  width: 100%;
  padding: 13px 20px !important;
  padding-right: 50px !important;
  transition: all .3s linear 0ms;
}
.cid-te8Qw2poVq .newsletter .form-control::-webkit-input-placeholder {
  color: #83868c;
}
.cid-te8Qw2poVq .newsletter .form-control::-moz-placeholder {
  color: #83868c;
}
.cid-te8Qw2poVq .newsletter .form-control:-moz-placeholder {
  color: #83868c;
}
.cid-te8Qw2poVq .newsletter .form-control:-ms-input-placeholder {
  color: #83868c;
}
.cid-te8Qw2poVq .newsletter .form-group {
  margin-bottom: 8.6px;
}
.cid-te8Qw2poVq .newsletter .dragArea {
  flex-direction: column;
}
.cid-te8Qw2poVq .newsletter .dragArea .mbr-section-btn .btn {
  font-weight: bold;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  overflow: hidden;
}
.cid-te8Qw2poVq .newsletter .dragArea .mbr-section-btn .btn.btn-success:hover {
  background-color: #0a1c44 !important;
  border-color: #0a1c44 !important;
  color: #ffffff !important;
}
.cid-te8Qw2poVq .newsletter .dragArea .mbr-section-btn .btn::after {
  background-color: #48d678;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-te8Qw2poVq .newsletter .dragArea .mbr-section-btn .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-te8Qw2poVq .cards-wrap2 {
  flex-direction: column;
}
.cid-te8Qw2poVq .cards-wrap2 .wrapper2 {
  border-radius: 0.25rem;
  margin-bottom: 26px;
}
.cid-te8Qw2poVq .cards-wrap2 .wrapper2 .img {
  margin-bottom: 20px;
}
.cid-te8Qw2poVq .cards-wrap2 .wrapper2 .img .mbr-iconfont {
  font-size: 50px;
  top: 0;
  color: #0a1c44;
  border-radius: 50%;
}
.cid-te8Qw2poVq .cards-wrap2 .wrapper2 .mbr-card-title {
  color: #0087ab;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.cid-te8Qw2poVq .cards-wrap2 .wrapper2 .mbr-text {
  margin-bottom: 19px;
  color: #48d678;
}
@-webkit-keyframes animation-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animation-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.cid-te8Qw2poVq .widget-container .project-info .info-item .label {
  color: #000000;
}
.cid-te8Qw2poVq .widget-container .project-info .info-item .info-text {
  color: #000000;
}
.cid-te8Qw2poVq .cards-wrap .wrapper .content .mbr-card-title,
.cid-te8Qw2poVq .img {
  color: #000000;
}
.cid-te8Qw2poVq .cards-wrap .wrapper .content .mbr-text,
.cid-te8Qw2poVq .img {
  color: #000000;
}
